

body{
	background-color:grey;
	color:gold;
	font-size:28px;
	padding:20px;
	width:960px;
	text-align: left;
	


}

h1{
	color:gold;
	display: block;
	height: 60px;
	width: 650px;
	border: 25px;
	padding:40px;
	background-color: 	#008080;
	text-align: left;
}
}

#container{
	width:960px;
	height:500px;
}

div#muhammad{
	position: fixed;
	top:0px;
	left: 0px;
	width: 100px;
	color:#ccc;
	background-color: #333;
	padding: 20px;
}